<!DOCTYPE html>
<html data-ng-app="healthCare">
<head>

<!-- Bootstrap CDN -->
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

<!-- AngualarJS CDN -->
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
<script
	src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.0.js"></script>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="style/style.css"
	media="screen" />
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed'
	rel='stylesheet' type='text/css' />

<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
<link rel="stylesheet" type="text/css" href="css/app.css"></link>

<!-- Module and Routing  -->
<script src="app.js"></script>
<script src="route.js"></script>

<!-- User controllers -->
<script src="js/controller/homeCtrl.js"></script>
<script src="js/controller/userCtrl.js"></script>
<script src="js/controller/admin/adminCtrl.js"></script>
<script src="js/controller/doctor/doctorCtrl.js"></script>
<script src="js/controller/patient/patientCtrl.js"></script>

<!-- Shared services -->
<script src="js/shared/sharedService.js"></script>
<script src="js/shared/directive.js"></script>
</head>

<body>
	<div id="wrap">
		<div id="header">
			<h1>
				<a href="#home">healthCare
					<h6>checkup point</h6>
				</a>
			</h1>
		</div>

		<br /> <br />
		<div id="content">
			<div data-ng-view=""></div>
		</div>

		<div id="footer">
			<div align="center">Health Care &copy; 2017 | Copy Rights Reserved</div>
		</div>
	</div>
</body>
</html>
